.home {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'IBM Plex Mono', sans-serif;

    &__text-wrapper {
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;

        h1 {
            color: var(--yellow-theme-main-color);
            margin: 0px;
            font-weight: 500;
            font-size: 8rem;
            line-height: 10rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            animation: typingEffectAnimation 2.5s steps(30, end);
        }
    }

    &__contact-me {
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 1.5rem;
        position: relative;
        font-weight: 700;
        font-size: 25px;
        color: var(--yellow-theme-main-color);
        letter-spacing: .2em;
        border-bottom: 3px solid var(--yellow-theme-main-color);
        line-height: 3.5rem;


        h2::after,
        .h2::before {
            content: '';
            height: 3px;
            width: auto;
            // max-width: calc(var(--max-width) * (1/1));
            // min-height:auto;
            // background:#fff;
            // opacity: 0.5;
            position: absolute;
            // top:-1.5rem ;
            // left:calc((var(--max-width)/8)*(-1))
        }
    }


    // button{
    //     cursor: pointer;
    //     padding: 10px 70px;
    //     font-size: 2rem;
    //     background: transparent;
    //     color: var(--yellow-theme-main-color);
    //     border: 1.5px solid var(--yellow-theme-main-color);
    //     border-radius: 4px;
    //     font-weight: 500;

    //     &:hover{
    //         background: var(--yellow-theme-main-color);
    //         color: #000000;
    //     }
    // display: flex;
    // align-items: center;


    nav {
        display: flex;
        justify-content: space-evenly;
        align-content: center;
        margin-top: 10rem;

        // nav::hover{
        //     background: var(--yellow-theme-background-color);
        //     color: #000000;
        // }
    }

    .social__icons {
        transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

        &:hover {
            color: var(--yellow-theme-background-color);
            transform: scale(1.2);
        }
    }

}



// nav {
//     // display: flex;
//     // align-items: center;
//     // justify-content: center;
//     display: flex;
//     justify-content: space-evenly;
//     align-content: center;
//     width: auto;


//     Link{
//         color: aquamarine;
//     }




@media only screen and (max-width: 550px) {

    .home__text-wrapper h1 {
        font-size: 3rem;
        line-height: 5rem;
    }
}

@media only screen and (min-width: 551px) and (max-width: 768px) {
    .home__text-wrapper h1 {
        font-size: 4rem;
        line-height: 6rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 990px) {

    .home__text-wrapper h1 {
        font-size: 6rem;
        line-height: 8rem;
    }
}


@keyframes typingEffectAnimation {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}